
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  overflow-x: hidden;


}
.navbar {
  position: sticky;
  top: 0;
  background-color: #556b2f;
  /* z-index: 100;*/
  border-bottom: 1px solid white; 
}
.navbar .nav-item {
  font-size: 20px;
}

li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  nav {
    height: 10%;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }
}
.custom-col{
  margin: 0;
  padding: 0;
}
.home-container {
  text-align:center;
  /*height: 100vh; /* 100% of the viewport height */
  /* Add any other custom styles you want for the full-screen section */
  margin: 0;
  padding: 0;
}
.home-container-content1{
  font-size: 110px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  background-color: #556b2f;
  margin: 0;
  padding: 0;
}
.home-container-content2{
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  background-color: #556b2f;
  margin: 0;
  padding: 0;
}
.IAM{
  font-size:30px;
}
.freelance{
  font-size: 20px;
}
.sysadmin{
  font-size: 30px;
  }

@media screen and (max-width: 768px) {
  .home-container-content2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    background-color: #556b2f;
    margin: 0;
    padding: 0; /* Change this to your desired alignment */
  }
  .IAM{
    font-size: 60px;
  }
  .freelance{
    font-size: 40px;
    color: black;
  }
  .sysadmin{
    font-size: 60px;
  }
}
.home-container-content2 h3{
  color: black;
}
.welcome{
  font-size: 40px;
}
.freelance{
  text-decoration: line-through;
}
#aboutme{
  margin: 0;
  padding: 0;
}
.whoami{
  color:black;
  font-size: 60px;
  margin: 0;
  padding: 0;
}
.desc{
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.aboutme-container {
  text-align:center;
  /*height: 100vh; /* 100% of the viewport height */
  /* Add any other custom styles you want for the full-screen section */
  margin: 0;
  padding: 0;
  height: 100vh;
}
.aboutme-container-content1{
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.aboutme-container-content2{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #556b2f;
  margin: 0;
  padding: 0;
}
.skills-container{
  height: 100vh;
  margin: 0;
  padding: 0;
}
.skills{
  font-size: 50px;
}
.skills-container-content1{
  background-color: #556b2f;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.skills-container-content2{
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}
.table{
  font-size: 30px;
  text-align: left;
}
.volume-indicator {
  width: 200px; /* Set your desired width */
  height: 35px; /* Set your desired height */
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

/* Styling for the volume fill bar */
.volume-fill {
  height: 100%;
  background-color: #556b2f; /* Set your desired fill color */
  transition: width 0.3s ease-in-out; /* Add a transition for smooth changes */

}
@media screen and (max-width: 768px) {
  .table{
    font-size: 25px;
    text-align: left;
  }
  .volume-indicator {
    width: 150px; /* Set your desired width */
    height: 30px; /* Set your desired height */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    padding: 0;
  }
  .volume-fill {
    height: 100%;
    background-color: #556b2f; /* Set your desired fill color */
    transition: width 0.3s ease-in-out; /* Add a transition for smooth changes */

}
}

#Contact{
  height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
  bottom: 0;
}
.p-contact{
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.fade-in-text {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}
.custom-button {
  width: 100%; /* Adjust the width as needed */
}

.footer-container{
  border-top: 1px solid black;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #556b2f;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Styles for the "go to top" button */
/* #goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

#goToTopBtn:hover {
  background-color: #556b2f;
  color: white;
} */

