body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #556b2f;
  z-index: 100;
  border-bottom: 1px solid white;
}
.full-screen-section {
  height: 100vh; /* 100% of the viewport height */
  background-color: #4b5320; /* Set the background color as desired */
  /* Add any other custom styles you want for the full-screen section */
}

.aboutme-container{
  height: 100vh; /* 100% of the viewport height */
  background-color: #556b2f; /* Set the background color as desired */
}
.navbar .nav-item {
  font-size: 20px;
}

li {
  margin: 0 10px;
}

@media (max-width: 768px) {
  nav {
    height: 10%;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }
}